.checkbox, .radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url('../images/checkbox.gif') no-repeat;
	display: block;
	clear: left;
	float: left;
}
.radio {
	background: url('../images/radio.png') no-repeat;
}
.select {
	color: #666;
	font-size: 13px;
	padding: 9px;
	width: 158px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 21px;

	position: absolute;
	background: url(../images/select.gif) no-repeat 97% center #fff;
	overflow: hidden;
}
select.styled {
	position: relative;
	z-index: 3;
	opacity: 0;
	filter: alpha(opacity=0);
}